{% set type = event.type %}
{% set character = event.character %}
{% set time = event.timestamp %}
{% set details = event.details %}

<tr>
  <td class="span9">
    {% if type == 'playerAchievement' %}
    {% set achievement = details['achievement'] %}
    <img src="{{ achievement.icon|icon(18) }}" class="wowicon-frame frame-18" />
    <a class="character-name color-c{{ character.class }}" href="{{ character.name|characterLink }}">{{ character.name }}</a>
    earned the achievement <span class="achievement">{{ achievement['title'] }}</span> for {{ achievement['points'] }} points.
    
    {% elseif type == 'itemLoot' or type == 'itemCraft' or type == 'itemPurchase' %}
    {% set item = details['itemId']|itemInfo %}
    <img src="{{ item.icon|icon(18) }}" class="wowicon-frame frame-18" />
    <a class="character-name color-c{{ character.class }}" href="{{ character.name|characterLink }}">{{ character.name }}</a>
    {% if type == 'itemLoot' %}obtained{% elseif type == 'itemCraft' %}crafted item{% else %}purchased item{% endif %}
    <a class="item-name color-epic" href="{{ item.id|itemLink }}">{{ item.name }}</a>.
    
    {% else %}
    <em>Unhandled article type: {{ type }}</em>
    {% endif %}
  </td>
  <td class="span3">
    {{ time|relative }}
  </td>
</tr>
